<h1 class="current-category"><%= params[:format] %></h1>

<% if @plays.present? %>
  <% @plays.each do |play| %>
    <div class="col-md-3">
      <% if play.play_img.attached? %>
        <%= link_to image_tag(play.play_img.variant(resize: "250x350")), play_path(play), class: "play" %>
      <% else %>
        <%= link_to image_tag("broadway.jpg", size: "250x350"), play_path(play), class: "play" %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <h3>There are no plays in this category</h3>
<% end %>
