<h1 class="current-category"><%= params[:format] %></h1>

<% if @plays.present? %>
  <% @plays.each do |play| %>
    <div class="col-md-3">
      <a href="/plays/ <%= play.id %>">
        <% if play.play_img.attached? %>
          <%= image_tag play.play_img.variant(resize: "250x350"), class: "play" %>
        <% else %>
          <%= image_tag "broadway.jpg", class: "play" %>
        <% end %>
      </a>
    </div>
  <% end %>
<% else %>
  <h3>There are no plays in this category</h3>
<% end %>
